[submodule "src/core"]
	path = src/core
	url = git@github.com:Phoxlights/PhoxCore.git
[submodule "src/animate"]
	path = src/animate
	url = git@github.com:Phoxlights/PhoxAnimate.git
[submodule "libs/Adafruit_NeoPixel"]
	path = libs/Adafruit_NeoPixel
	url = git@github.com:adafruit/Adafruit_NeoPixel.git
